.divstyle {
    height: 100%;
    width: 100%;
    margin: auto;

}

.transaction-card {
    height: 100%;
    border: 1px solid;
    padding: 2% 0;
    position: relative;
}

.transaction-card div {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.transaction-card div p:nth-child(1) {
    margin: 0;
    float: left;
}

.transaction-card div p:nth-child(2) {
    float: right;
    width: auto;
    margin: 0;
}